html, body {
	min-width: 320px;
	overflow-x: hidden;
	font-family: "hans_kendrick_3regular";
}
.bg--gray /* add it to the "body" */ {  
	background-color: #e2e7ec;
}
.main {
	margin: 0 auto;
	width: 69%;
	padding: 90px 0 50px;
	display: flex;
	flex-wrap: wrap;
}
.article {
	width: 33.3%;
	background-color: #fff;
	padding: 0 10px;
	background-clip: content-box;
	margin-bottom: 20px;
	height: 550px;
	position: relative;
	overflow: hidden;
	order: 2;
}
.article__main.article {
	order: 1;
}
.article__main.article .article__img {
	height: 100%;
}
.article__main.article .article__descr-author { 
	display: none;
}
.article__main.article .article__descr {
	position: absolute;
	bottom: 5px;
	left: 40px;
	z-index: 2;
}
.article__main.article:before {
	content: '';
	position: absolute;
	top: 0;
	left: 10px;
	width: calc(100% - 10px);
	height: 100%;
	background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
background: -o-linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
background: -ms-linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
	z-index: 1;
}
.article__main.article .article__descr-title {
	color: #fff;
}
.article__main.article {
	width: 66.6%;
}
.article__main.article .article__img-container {
	position: absolute;
	top: 0;
	left: 10px;
	width: calc(100% - 10px);
	height: 100%;
}
.article__img-container {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.article__descr-author {
	position: absolute;
	bottom: 30px;
	left: 40px;
}
.article__img-container {
	min-height: 250px;
}
.article__img {
	width: 100%;
	height: auto;
	max-height: 250px;
}
.article__descr {
	padding: 30px;
	overflow: hidden;
}
.article__descr-time {
	color:  #818181;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
}
.article__descr-title {
	color:  #1d1c1c;
	font-size: 22px;
	font-weight: 900;
	line-height: 1.4;
	text-transform: uppercase;
	margin-bottom: 70px;
}
.load-more-btn {
	color:  #99a5b0;
	font-size: 13px;
	font-weight: 900;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}
.load-more-btn span {
	margin-left: 25px;
}
